@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  width: 1280px;
  height: 100%;
  background-color: #F2F2F2;
}

.container {
  width: 1200px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  width: 1200px;
  margin: 0 auto;
}

.navigation-list {
  display: flex;
  width: 1200px;
  padding: 0;
  margin: 0;
  list-style: none;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
}

.hero {
  width: 1200px;
  height: 485px;
  background-image: url("../images/images_index/index_background.jpg");
  background-repeat: no-repeat;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-grow: 1;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.main-index {
  color: #000000;
  background-image: url(../images/images_index/index_background/(1).jpg);
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.heading-text {
  font-style: normal;
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
}

.advantages-list {
  margin: 0 auto;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
}

.advantages-item-white-theme {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 100%;
}

.advantages-item-black-theme {
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
  width: 400px;
}

.advantages-item-black-theme-2 {
  background: rgba(131, 179, 211, 0.2);
  color: #000000;
  width: 400px;
}

.advantages-title {
  font-size: 24px;
  line-height: 28px;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  background-color: #82B3D3;
  margin: 0 auto;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

li.services-item {
  width: 400px;
}

.services-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.subscribe {
  color: #ffffff;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  background-image: url(../images/images_index/bacground_index.jpg);
  text-align: center;
}

.subscribe-form {
  text-transform: uppercase;
}

.appointment {
  text-align: center;
}

.page-footer {
  display: flex;
  width: 940px;
  margin: 0 auto;
  list-style: none;
  text-decoration: none;
}

.footer-social-list {
  list-style: none;
  text-decoration: none;
}

.inner-header-inner {

  width: 1200px;
  min-height: 412px;
  background-image: url(../images/images_catalog/background_mountain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
}

.legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.control {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
}

.catalog {
  display: flex;
  list-style: none;
  width: 1200px;
}

.inner-header {
  width: 1200px;

}

.catalog-infrastructure {
  list-style: none;
}

.product-top-group {
  list-style: none;
}

.select-catalog {
  font-size: 30px;
  line-height: 36px;
}

.hotel-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 20px;
  flex-wrap: wrap;
}

.holet-card {
  width: calc((100% - 40px) / 3);
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.hotel-card-type,
.hotel-card-button {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.pagination {
  display: flex;
}

.e-mail {
  font-size: 30px;
  line-height: 36px;
}

.subscribe {
  background-image: url("../images/images_index/mountain.jpg");
}
