*,
::before,
::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

html {
  height: 100%;
  background-color: #F2F2F2;
}

.container {
  width: 1280px;
  padding: 0 40px;
  margin: 0 auto;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

body {
  font-family: "PT Sans", sans-serif;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  background-color: #ffffff;
}

.page-header {
  padding: 0px 70px;
  width: 1200px;
}

.icon_head {
  display: block;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.navigation {
  display: flex;
  width: 100%;
}

.navigation-logo {
  position: absolute;
}

.navigation-list {
  display: flex;
  width: 1200px;
  padding: 0;
  padding-right: 30px;
  margin: 0;
  list-style: none;
  margin-left: 138px;
}

.navigation-item {
  display: grid;
  place-items: center;
  padding-right: 10px;
}

.navigation-item_1 {
  margin-left: 30px;
  padding: 20px 16px;
}

.navigation-item_2 {
  padding: 20px 16px;
}

.navigation-item_3 {
  padding: 20px 16px;
}

.navigation-item1 {
  display: flex;
  background: #756157;
  color: #ffffff;
  padding: 0;
  height: 36px;
  min-width: 160px;
  text-decoration: none;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  text-align: center;
  align-items: center;
  justify-content: center;
  margin-top: 14px;
  margin-left: 20px;
}

.navigation-item2 {
  text-decoration: none;
  color: #ffffff;
}

.navigation-user {
  max-width: 250px;
  margin-left: auto;
  padding-right: 70px;
}

.pic_sedona {
  margin-bottom: -1px;
}

.hero {
  width: 1200px;
  height: 485px;
  background-image: url("../images/images_index/index_background.jpg");
  background-repeat: no-repeat;
  background-color: #23A9E1;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-grow: 1;
  padding-top: 40px;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 24px;
  color: #000000;
  text-decoration: none;
}

.main-index {
  color: #000000;
  background-image: url(../images/images_index/index_background/(1).jpg);
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.heading {
  display: flex;
  flex-wrap: wrap;
  padding: 75px 0;
  justify-content: center;
}

.heading2 {
  text-transform: uppercase;
  padding-top: 96px;
}

.heading h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 25px;
  line-height: 1.1;
}

.heading_services {
  margin-top: 112px;
  line-height: 1.1;
  padding-bottom: 40px;
}

.heading-text {
  font-style: normal;
  color: #333333;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  text-transform: none;
  height: 52px;
  flex: none;
  margin-top: inherit;
}

.advantages-container {
  text-align: center;
  margin-top: -37px;
}

.block {
  padding: 89px;
  text-align: center;
}

.block2 {
  padding: 82px;
}

.advantages-list {
  margin: 0 auto;
  list-style: none;
  padding: 0;
  flex-wrap: wrap;
  display: flex;
}

.advantages-item-white-theme {
  display: flex;
  margin: 0;
  padding: 0;
  text-align: center;
  color: #FFFFFF;
  background-color: #82B3D3;
  width: 100%;
}

.advantages-item-black-theme {
  background: rgba(131, 179, 211, 0.12);
  color: #000000;
  width: 400px;
  min-height: 385px;
}

.advantages-item-black-theme-2 {
  background: rgba(131, 179, 211, 0.2);
  color: #000000;
  width: 400px;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  margin: 21px auto;
  margin-bottom: 62px;
}

.advantages-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.services-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.item-house {
  background-color: rgba(131, 179, 211, 0.12);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 81px;
  flex-shrink: 0;
  justify-content: center;
}

.item-house::before {
  content: '';
  display: block;
  width: 75px;
  height: 72px;
  background-image: url(../images/images_index/house.svg);
  flex-shrink: 0;
}

.item-food {
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 81px;
  flex-shrink: 0;
  justify-content: center;
}

.item-food::before {
  content: '';
  display: block;
  width: 74px;
  height: 70px;
  background-image: url(../images/images_index/food.svg);
  flex-shrink: 0;
}

.item-present {
  background-color: rgba(131, 179, 211, 0.12);
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 81px;
  flex-shrink: 0;
  justify-content: center;
}

.item-present::before {
  content: '';
  display: block;
  width: 64px;
  height: 76px;
  background-image: url(../images/images_index/present.svg);
  flex-shrink: 0;
}

.services {
  display: flex;
  flex-direction: column;
  text-align: center;
  text-transform: uppercase;
  align-items: center;
  margin-top: -40px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;
  text-align: center;
}

.services-item {
  width: 400px;
  max-height: 385px;
  padding: 183px 85px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 18px;
}

*/ .block3 {
  padding: 183px 85px;
}

.item1 {
  background: rgba(131, 179, 211, 0.12);
}

.services-description {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  text-transform: none;
}

.subscribe {
  color: #ffffff;
  background-color: #23A9E1;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  background-image: url(../images/images_index/mountain.jpg);
  background-size: cover;
  padding: 96px 258px 104px;
  min-height: 414px;
  text-transform: uppercase;
}

.subscribe-form1 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-transform: none;
  margin-top: 35px;
}

.subscribeformemail {
  display: flex;
  margin-top: 45px;
}

.subscribeformemail1 {
  display: flex;
  width: 452px;
  height: 52px;
  padding: 12px 20px;
  gap: 260px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  border-radius: 4px 0px 0px 4px;
  border: none;
  background: #f2f2f2;
}

.subscribeformemail2 {
  display: flex;
  width: 232px;
  height: 52px;
  padding: 12px 20px;
  gap: 260px;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  border-radius: 4px 0px 0px 4px;
  border: none;
  background: #82B3D3;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 700;
}

.subscribe-form {
  margin: 5px;
  font-size: 30px;
}

.subscribe2 {
  color: #000000;
  font-weight: 700;
  text-align: center;
  background-image: none;
  background-size: 1200px 414px;
  padding: 100px 258px 104px;
  min-height: 414px;
  text-transform: uppercase;
}

.pictures1 {
  object-fit: cover;
}

.subscribe-form_2 {
  text-transform: uppercase;
  color: #000000;
}

.appointment {
  text-align: center;
  min-height: 239px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  padding-bottom: 96px;
  align-items: center;
  margin-top: -20px;
}

.buttonbasic {
  background: #756157;
  width: 376px;
  height: 52px;
  text-decoration: none;
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  color: #ffffff;
  text-transform: uppercase;
  border: none;
  margin-top: -10px;
  cursor: pointer;
}

.buttonbasic1 {}

.page-footer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  list-style: none;
  text-decoration: none;
  padding-left: 80px;
  padding-right: 70px;
  padding-top: 45px;
  padding-bottom: 35px;
  align-items: center;
  box-sizing: border-box;
  justify-content: space-between;
}

.footer-social-list {
  display: flex;
  list-style: none;
  text-decoration: none;
  gap: 26px;
  padding-left: 3px;
  margin-top: 15px;
}

.footer-social-list a:hover {
  opacity: 1;
}

.footer-social-item a:hover {
  opacity: 0.5;
}

.footer-social-list a:focus-visible {
  outline: 2px solid blue;
}

.contact {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-bottom: 10px;
  margin-left: 5px;
}

.contact:hover {
  opacity: 0.5;
}

.Heading_1 {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 60px;
  margin-top: 17px;
}

.inner-header {
  width: 1200px;
  height: 412px;
  background-image: url(../images/images_catalog/background_mountain.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: #ffffff;
  background-color: #23A9E1;
  font-weight: 700;
  padding: 44px 70px 70px 70px;
  box-sizing: border-box;
}

.legend {
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
}

.breadcrumbs {
  display: flex;
  list-style: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  padding-left: 0;
}


.control {
  position: relative;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  padding-left: 1.2em;
}

.control-input {
  position: absolute;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.check_box {
  position: absolute;
  left: -12px;
  width: 21px;
  height: 21px;
  background-color: #FFFFFF;
  top: -02px;
  cursor: pointer;
  border-radius: 20%;
}

/* Checked */

.control-input:checked+.check_box {
  background-image: url(../images/images_catalog/checkbox_checked1.svg);
}

/* Focused*/

.control-input:focus+.check_box {
  outline: 2px solid #82B3D3;
}

/*RADIO*/

.radio {
  display: block;
  background-color: #FFFFFF;
  position: absolute;
  left: -12px;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  top: -02px;
  cursor: pointer;
}

.control-input+.radio::after {
  content: '';
  display: block;
  position: absolute;
  left: 6px;
  top: 6px;
  width: 10px;
  height: 10px;
  background-color: #111111;
  border-radius: 50%;
  opacity: 0;
}

/* Radio checked*/

.control-input:checked+.radio::after {
  opacity: 1;
}

/* Radio focused*/

.control-input:focus+.radio {
  outline: 2px solid #82B3D3;
}

.catalog {
  display: flex;
  list-style: none;
  width: 100%;
  gap: 40px;
  margin-top: 40px;
  margin-left: 10px;
}

.catalog-infrastructure {
  list-style: none;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 15px;
  width: 150.43px;
  height: 157px;
  padding-top: 5px;
}

.product-top-group {
  list-style: none;
  border: none;
  display: flex;
  flex-direction: column;
  padding: 0px;
  gap: 15px;
  width: 150.43px;
  height: 157px;
  padding-left: 10px;
  padding-top: 5px;
}

/* Range*/
.catalog-filter-group {
  border: none;
}

.catalog-filter-title {
  padding-bottom: 20px;
  padding-left: 80px;
}

.range-scale {
  position: relative;
  height: 4px;
  margin-bottom: 16px;
  background-color: gray;
  border-radius: 2px;
}

.range-bar {
  position: absolute;
  height: 4px;
  background-color: #ffffff;
}

.range-toggle {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #ffffff;
  border: none;
  border-radius: 25%;
  cursor: pointer;
}

.range-toggle:hover {
  background-color: #dbb590;
}

.range-toggle:active,
.range-toggle:focus {
  outline: 3px solid #dbb590;
}

.toggle-min {
  top: -8px;
  left: -10px;
}

.toggle-max {
  top: -8px;
  right: -10px;
}

.range-wrapper-inputs {
  display: flex;
  justify-content: center;
  margin-bottom: 48px;
  padding-left: 60px;
}

.catalog-filter-label {
  display: flex;
  margin-right: 5px;
  position: relative;
}

.range-input {
  width: 143px;
  height: 48px;
  padding: 0 2px;
  font: inherit;
  text-align: center;
  background-color: transparent;
  border: none;
  appearance: textfield;
  background-color: #ffffff;
}

.range-input::-webkit-outer-spin-button,
.range-input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}

.price_range {
  position: absolute;
  color: rgba(0, 0, 0, 0.3);
  right: 10px;
  top: 10px;
}


.button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 32px;
  width: 191px;
  list-style: none;
  padding-right: 30px;
  margin-top: 50px;
}

.button_submit {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;
  gap: 10px;
  width: 191px;
  height: 36px;
  background: #82B3D3;
  border: 0;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
}

.button_reset {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px 50px;
  gap: 10px;
  width: 191px;
  height: 36px;
  border: 0;
  background-color: transparent;
  text-transform: uppercase;
  color: #FFFFFF;
  font-family: PT Sans;
  font-size: 16px;
  font-weight: 700;
}

.catalog_search {
  display: flex;
  padding: 50px 70px;
  justify-content: space-between;
  text-transform: uppercase;
  padding-bottom: 11px;
}

.button-light .button-light1 {
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 4px;
  padding: 14px 12px;
  background-color: #FFFFFF;
}

.select-catalog {
  width: 1200px;
  font-size: 30px;
  line-height: 36px;
  list-style: none;
}

.select-control {
  display: flex;
  width: 292px;
  height: 49px;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;
  border: 2px solid #E5E5E5;
  margin-left: 110px;
}

.hotel-list {
  width: 1040px;
  height: 900px;
  display: flex;
  margin-left: 70px;
  padding: 0;
  list-style: none;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 105px;
}

.holet-card {}

.hotel-card-image {
  margin-left: 15px;
  margin-top: 15px;
}

.hotel_price {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  margin-bottom: -10px;
}

.hotel-card-link {
  text-decoration: none;
}

.hotel-card-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  text-decoration: none;
  margin: 0;
  margin-top: 10px;
  margin-left: 20px;
}

.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
  margin-top: 16px;
  margin-left: 20px;
}

.hotel-card-type {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #756157;
  border-style: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  width: 140px;
  height: 36px;
  margin-left: 20px;
}

.hotel-card-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background: #82B3D3;
  border-style: none;
  border-radius: 4px;
  text-transform: uppercase;
  text-align: center;
  width: 140px;
  height: 36px;
  margin-left: 10px;
}

.raiting_catalog {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
}

.raiting {
  width: 140px;
  height: 37px;
  background: #F2F2F2;
  border-radius: 4px;
  color: #333333;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
}

.pagination {
  display: flex;
  list-style: none;
  margin: 0;
  margin-left: 25px;
  margin-bottom: 60px;
  margin-bottom: 54px;
  margin-top: -28px;
}

.pagination-item {
  display: flex;
  width: 60px;
  height: 60px;
  padding: 11.364px 0px 12.636px 0px;
  margin: 0 3px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #82B3D3;
}

.pagination-link {
  text-decoration: none;
  color: #FFFFFF;
  display: flex;
  width: 60px;
  height: 60px;
  padding: 11.364px 0px 12.636px 0px;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-family: PT Sans;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
}

.pagination-item a.active {
  background-color: #F2F2F2;
  color: #000000;
}

.pagination-item a:hover:not(.active) {
  background-color: #82B3D3;
}

.pagination-next {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 22px;
}

.e-mail {
  font-size: 30px;
  line-height: 36px;
}

.subscribe {
  background-image: url("../images/images_index/mountain.jpg");
}
